html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video
{
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0
}
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section
{
    display:block

}
body
{
    line-height:1
}
ol,ul
{
    list-style:none
}
blockquote,q
{
    quotes:none}
    blockquote:before,blockquote:after,q:before,q:after
    {
        content:none
    }
    table
    {
        border-collapse:collapse;
        border-spacing:0
    }

.card__container_zabroshka {
    background-image: url();
}

.card__container_religion {
    background-image: url();
    
}

.card__container_science-center {
    background-image: url();
}

.card__container_dunja-edu {
    background-image: url();
}

.card__container_nikita-zuker {
    background-image: url();
}

.root {
    font-family: 'Cormorant Garamond';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #3E4B3B;
    min-height: 100vh;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tenor Sans';
}

/*body {*/
    /*background-color: #3E4B3B;*/
/*}*/

a:focus {
    outline: none;
}

.kruzhok-link {
    color: #fff;
    text-decoration: none;
}

.kruzhok-link:hover {
    text-decoration: underline;
}

.header__logo-container {
    min-height: 74px;
    display: flex;
    align-items: center;
    width: calc(100% - 80px);
    margin: auto;
    text-decoration: none;
    transition: opacity ease-in-out 0.2s;
}

.header__logo-container:hover {
    opacity: .7;
}

.header__logo {
    font-family: 'Tenor Sans';
    font-size: 37px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    outline: none;
    display: block;
}

.header__subtitle {
    font-family: 'Cormorant Garamond';
    font-size: 14px;
    color: white;
    margin-left: 20px;
    line-height: 1.2;
    text-decoration: none;
    display: block;
}

.content__container {
    opacity: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: calc(100% - 40px);
    margin: auto;
    animation: fadeIn 2s linear 1s 1 forwards;
}

.cell {
    overflow: hidden;
    transition: all ease-in-out 0.2s;
}

.card__container {
    transition: all ease-in-out 0.2s;
}

.cell:hover > .card__container {
    transform: scale(1.01);
}

.cell:hover .card__overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.cell_one {
    grid-row: 1 / 3;
}

.cell_six {
    grid-column: 2 / 2;
    grid-row: 3 / 5;
}

.cell_seven {
    grid-column: 1 / 1;
    grid-row: 5 / 7;
}

.card__container_big {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    position: relative;
}

.card__container_small {
    width: 100%;
    padding-bottom: calc(390 * 100% / 680);
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    position: relative;
    min-height: 15%;
}

.card__overlay {
    width: 100%;
    border-radius: 3px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.card__play__icon_big {
    margin: auto;
    width: 20%;
    transition: transform .2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__play-link_big {
    display: block;
    background-image: url(../images/play_btn.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 100%;
    transition: transform linear .2s;
}

.card__container_big:hover .card__play-link_big {
    transform: scale(1.03, 1.03);
}

.card__container_big .card__play-link_big:hover {
    transform: scale(1.02,1.02);
}

.card__play__icon_small {
    width: 40px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card__play-link_small {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    /*background-image: url(кнопкатреугольник.png);*/
    background-size: cover;
    background-position: center;
    transition: transform linear .2s;
}

.card__title_big {
    position: absolute;
    left: 40px;
    bottom: 40px;
    max-width: 398px;
    line-height: 1.2;
    display: block;
    text-decoration: none;
    font-family: 'Tenor sans';
    transform: translateZ(0);
}

.card__number_big {
    font-size: 24px;
    color: white;
    margin-bottom: 12px;
    display: block;
}

.card__heading {
    line-height: 1.3;
}

.card__heading_big {
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 14px;
    display: block;
    transform: translateZ(0);
}

.card__title_big:hover .card__heading_big {
    text-underline-position: under;
}

.card__author_big {
    font-family: 'Cormorant Garamond';
    font-size: 14px;
    color: white;
    display: block;
}

.card__title_small {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 398px;
    line-height: 1.2;
    display: block;
    text-decoration: none;
    font-family: 'Tenor sans';
    transform: translateZ(0);
}


.card__number_small {
    font-size: 24px;
    color: white;
    margin-bottom: 8px;
    display: block;
}

.card__heading_small {
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 8px;
    display: block;
}

.card__author_small {
    font-family: 'Cormorant Garamond';
    font-size: 14px;
    color: white;
    display: block;
}

.card__title_small:hover .card__heading_small {
    text-underline-position: under;
}

.footer_inner {
    height: 114px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer__copyright_inner {
    color: white;
    display: block;
    width: calc(100% - 80px);
    margin: auto;
    font-size: 14px;
    line-height: 1.2;
} 

@font-face {
    font-family: 'Tenor Sans';
    src: local('Tenor Sans'), local('TenorSans'), url('tenorsans.woff2') format('woff2'), url('tenorsans.woff') format('woff'), url('tenorsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: 0;
    }
} 

@keyframes pulse {
    from {opacity: 1;}
    to {opacity: .7;}
}

@keyframes loading {
    0% {
        opacity: 0;
        border-color: transparent;
        transform: scale(0.5) rotate(0);
    }
    40% {
        opacity: 1;
        border-color: #fff;
    }
    80% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@media screen and (max-width: 1264px) {
    .card__number_big {
        font-size: 18px;
    }

    .card__heading_big {
        font-size: 24px;
    }

    .card__number_small {
        font-size: 18px;
    }

    .card__heading_small {
        font-size: 24px;
    }
}

@media screen and (max-width:960px) {
    .content__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 1fr);
        width: calc(100% - 40px);
    }

    .cell_one {
        grid-row: auto;
    }
    
    .cell_six {
        grid-column: auto;
        grid-row: auto;
    }

    .cell_seven {
        grid-column: auto;
        grid-row: auto;
    }

    .card__container_big {
        padding-bottom: calc(390 * 100% / 680);
    }
    .card__play__icon_big {
        display: none;
    }

    .card__play__icon_small {
        display: none;
    }

    .card__title_big {
        position: absolute;
        margin: auto;
        max-width: 80%;
    }

    .card__title_small {
        position: absolute;
        margin: auto;
        max-width: 80%;
    }

    .card__number_big {
        font-size: 16px;
    }

    .card__heading {
        max-width: 300px;
        line-height: 1.4;
    }

    .card__heading_big {
        font-size: 20px;
    }

    .card__author_big {
        font-size: 12px;
    }

    .card__number_small {
        font-size: 16px;
    }

    .card__heading_small {
        font-size: 20px;
    }

    .card__author_small {
        font-size: 12px;
    }
    .footer__copyright_inner {
        width: calc(100% - 40px);
        font-size: 12px;
    }

    .footer_inner {
        height: 80px;
    }
}

@media screen and (max-width:480px) {
    .header_cards-list {
        padding-top: 20px;
    }

    .header__logo-container {
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 40px);
    }

    .header__subtitle {
        margin-left: 0;
        margin-top: 15px;
        font-size: 12px;
    }

    .content__container {
        margin-top: 30px;
    }

    .card__title_big, .card__title_small {
        left: 20px;
        bottom: 20px;
    }
}

